body {
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #58cad5;
}

.gallery-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 10px solid #000000;
    border-radius: 10px;
    background-color: white;
}

.gallery {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.gallery-image {
    width: 100%;
    flex-shrink: 0;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
